body{
  font-family: ff-meta-web-pro;
}

/* @group checkbox and radio */

input[type="checkbox"],
input[type="radio"] {
  margin-right: 0.25em;
}

/* @end */

/* @group plone control panel */

ul.configlets {
  @include ul($style:'plain');
}

/* @end */

/* @group placeholder portlet */

dl.portlet.portlet-static-hidden-placeholder {
  display: none;
}

/* @end */

/* @group tags widget */

#content .existingTagsHelp,
#content .newTagsHelp {
  float: none;
  clear: both;
}
div.existingTagsSection,
dl.newTagsSection {
  margin-left: 0;
}
.existingTags > label,
.newTagsSection > label {
  line-height: 1.5em;
}
#content .newTagsSection {
  margin-top: 1em;
  margin-left: 0;
  width: 100%;
  & textarea {
    width: 100%;
  }
}

/* @end */

/* @group mobile buttons */

ul.mobileButtons {
  @include ul($style: 'inline');
  & a {
    text-decoration: none;
    line-height: 1em;
  }
}
ul.mobileNavigation {
  padding-left: 0;
  & li {
    /* todo: move this into ul-mixing */
    margin-bottom: 0;
    & a,
    & a:hover {
      text-decoration: none;
    }
  }
}

/* @end */

/* @group flyout navigation */

#portal-globalnav > li {
  position: relative;
  z-index: 3;
  &.flyoutActive {
    z-index: 4;
  }
  &.flyoutActive > .wrapper {
    margin: 0;
    background-color: $page-background;
    position: relative;
    z-index: 5;
    border: 1px solid $global-navigation-flyout-border;
    border-bottom-width: 0;
    @include borderradius($border-radius $border-radius 0 0);
  }
  &.flyoutActive > ul.flyoutActive {
    z-index: 4;
  }
}
#portal-globalnav ul.flyoutChildren {
  @include ul($style: 'plain');
  @include borderradius(0 $border-radius $border-radius $border-radius);
  position: relative;
  display: none;
  z-index: 3;
  border: 1px solid $global-navigation-flyout-border;
  padding: 0.25em 1em 0 1em;
  margin: 0;
  position: absolute;
  left: 0;
  top: 2em;
  width: 20em;
  background: $page-background;
  @include boxshadow(0.5em 0.5em 0.5em -0.5em $darkgray);
  & li {
    display: block;
    padding: 0.5em 0;
    margin: 0;
  }
  & li.directLink {
    font-weight: bold;
    + li {
      border-top: 1px solid $lightgray2;
    }
  }
  & a {
    text-decoration: none;
    display: block;
  }
}

/* Flyout navigation grandchildren */

#portal-globalnav ul.flyoutChildren li {
    position: relative;
}
#portal-globalnav li.level1 ul.flyoutChildren {
    margin-left: 10em;
    margin-top: -2em;
}
#portal-globalnav ul.flyoutChildren li.level1 {
    & li.directLink {
        display: none;
    }
    & li.directLink + li {
        border: none;
    }
}

/* @end */

/* @group book */

.portletGoToParent {
  display: none;
}

/* @end */

/* @group tinymce */

.mceActionPanel input, .plonebutton {
  color: $input-context-color !important;
}
.mceActionPanel #cancel {
  color: $text-color !important;
}

.col-row input {
  width: auto;
}

/* @end */

/* @group dialog */

body#plonebrowser #content.dialog-wrapper {
  font-size: 100%;
}

body #internallinkcontainer .list.item span,
body #internallinkcontainer .list.item a {
  position: static;
}

/* @end */

/* @group overlays */

#cboxOverlay,
#exposeMask {
  background: #000 !important;
  opacity: 0.4;
}

/* @end */

/* @group izug listing view */

.template-izug_listing_view .itemDate {
  font-weight: bold;
}
.template-izug_listing_view .CustomlistingItem {
  margin-bottom: 2em;
  border-bottom: 1px solid $lightgray;
}

/* @end */

/* @group ftw.bridge watcher portlet */

.portletWatcher dd {
  margin-bottom: 0.75em;
}

/* @end */

/* @group sharing table */

#user-group-sharing th {
  font-size: 12px;
  font-weight: normal;
}

/* @end */

/* @group ajax spinner */

#ajax-spinner {
  display: none !important;
}

/* @end */

/* @group customstyles */

body.template-customstyles_form #slider-wrapper,
body.template-customstyles_form #banner-image {
  display: none;
}
body.template-customstyles_form label {
  display: block;
}
#customform-help {
  margin-top: 1em;
  padding: 1em;
  @include boxshadow(0.5em 0.5em 0.5em $darkgray);
  border: 1px solid #aaa;
  background: #eee no-repeat center center;
}
textarea#custom-scss {
  font-family: Courier New;
}
#portal-siteactions li#siteaction-manage_styles {
  border-left: none;
  float: right;
}

/* @end */

/* @group theming controlpanel */

body.template-theming-controlpanel {

  #visual-portal-wrapper {
    @include clearfix();
    width: $page-fixed-width;
    margin: 0 auto;
    background: #FFF;
  }

  #portal-column-one {
    @include position0();
    @include width4();
  }
  #portal-column-content {
    @include position4();
    @include width12();
  }
  #portal-logo { clear: both; }

  #portal-topactions,
  #portal-searchbox,
  #portal-footer-wrapper {
    display: none;
  }
}

/* Some spacing below slider */
#slider-wrapper {
    margin-bottom: 1em;
  }

/* Display external link icon after link
a[target="_blank"]:after,span.link-external a:after,a.external-link:after{
	font-family:"icomoon";
	font-size:1em;
	content:" l";
	white-space:nowrap;
	line-height:1em
}
*/

/* Don't display icon before external links */
a[target="_blank"]:before,span.link-external a:before,a.external-link:before{
	content: none;
}

/* Donate button in header */
#donate-button-wrapper {
  position: absolute; right: 0px;
}

/* Override width of columns from collective.cover */
#column-content div.width-8 {
  width: 47%;
}

/* Tile shadow style from collective.cover */
.tile-shadow
{
  padding: 10px;
  margin-top: 14px;
  margin-bottom: 14px;
}

/* Header styles for tiles from collective.cover */
.tile-header h1,
.tile-content h1,
.tile-content h2
{
  margin: 1em 0 0.5em 0;
}

.tile-content .list-item:first-child h1,
.cover-richtext-tile:first-child h1,
.tile-header h1,
.tile-header h2
{
    margin-top: 0;
}

.tile-header h2,
.tile-content h2 {
  font-size: 1.3em;
}

/* Event view */
.event.summary {
    background: #f4f4f1;
    margin-left: 10px;
    padding: 0 5px 0 5px;
}

/* Override styles from ftw.mobilenavigation */
/* Fix extra lines under each menu item, which was introduced in "fix" 25 Aug 2015 */
#slider-container a.slide {
    position: absolute;
    top: 0;
    right: 0;
}


.tile-ifit-center,
.tile-ifit{
font-size: 20px;
line-height: 1.6;
}

.tile-ifit-video{
    margin-bottom: 54px
}


.tile-ifit-about.tile img.left{
padding: 54px 40px 27px 40px;
margin: 0;
}

.tile-ifit-center{
text-align:center;

}

.tile-ifit-about{
font-size: 16px;
line-height: 1.625;
padding: 0 40px;

}

.tile-ifit-small{
font-size: 16px;
line-height: 1.625;
}

.cover-banner-tile img{
display: table-cell;
vertical-align: top;
padding-right: 54px;
width: 100%;
height: auto;
margin-bottom: 0;
box-sizing: border-box
}

.tile-ifit ul {
    padding: 0;
    list-style: none
}

.tile-ifit li {
    font-size: 16px;
    line-height: 1.6
}

.b-steps__name {
    margin-bottom: 10px;
    color: #931904
}

@media (min-width: 768px) {
    .tile-ifit ul {
        display: table;
        width: 100%
    }

   .tile-ifit li {
        display: table-row;
        font-size: 20px
    }

    .b-steps__name {
        display: table-cell;
        vertical-align: top;
        padding-right: 40px;
        padding-bottom: 20px;
        white-space: nowrap
    }

    .b-steps__text {
        display: table-cell;
        vertical-align: top;
        padding-bottom: 20px
    }
}

@media (max-width: 768px) {
  div.cell {
    position: static;
    float: none;
    left: 0;
  }

  div.width-1,
  div.width-2,
  div.width-3,
  div.width-4,
  div.width-5,
  div.width-6,
  div.width-7,
  div.width-8.
  div.width-9,
  div.width-10,
  div.width-11,
  div.width-12,
  div.width-13,
  div.width-14,
  div.width-15,
  div.width-16,
  div.width-full{
      width: 100%;
  }

  div.position-0,
  div.position-1,
  div.position-2,
  div.position-3,
  div.position-4,
  div.position-5,
  div.position-6,
  div.position-7,
  div.position-8,
  div.position-9,
  div.position-10,
  div.position-11,
  div.position-12,
  div.position-13,
  div.position-14,
  div.position-15 {
      margin-left: 0;
  }

  #column-content div.width-1,
  #column-content div.width-2,
  #column-content div.width-3,
  #column-content div.width-4,
  #column-content div.width-5,
  #column-content div.width-6,
  #column-content div.width-7,
  #column-content div.width-8,
  #column-content div.width-9,
  #column-content div.width-10,
  #column-content div.width-11,
  #column-content div.width-12,
  #column-content div.width-13,
  #column-content div.width-14,
  #column-content div.width-15,
  #column-content div.width-16 {
      width: 100%
  }

  #column-content div.position-0,
  #column-content div.position-1,
  #column-content div.position-2,
  #column-content div.position-3,
  #column-content div.position-4,
  #column-content div.position-5,
  #column-content div.position-6,
  #column-content div.position-7,
  #column-content div.position-8,
  #column-content div.position-9,
  #column-content div.position-10,
  #column-content div.position-11,
  #column-content div.position-12,
  #column-content div.position-13,
  #column-content div.position-14,
  #column-content div.position-15 {
      margin-left: 0;
  }
  #header .searchBoxWrapper, #columns #column-content, #columns #column-sidebar{
    margin-left: 0;
    width: 100%;
    clear: none;
  }
  #columns{
  }
  #page-wrapper{
    border: none;
    padding: 0 5px;
  }
  #page-wrapper.fixedWidth{
    width: 100%;
    box-sizing: border-box;
  }

}

.tile-ifit-center h2,
.tile-ifit h2{
margin-bottom: 34px !important;
font-size: 36px  !important;
text-align: center;

}
.tile-ifit-about h2{
font-size: 24px !important;
text-align: center;

}


.row-ifit-border{
  border-bottom: 1px solid #f4f4f1;
  padding-bottom: 54px;
}

.b-hero {
    position: relative;
    padding-bottom: 59.05579399141631%;
    margin-bottom: 27px;
}

.b-hero__video {
    z-index: 5;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.b-hero video {
    width: 100%;
    height: 100%
}

.b-hero__inner {
    z-index: 10;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0 10%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    cursor: pointer;
    transition: opacity 2.3s, visibility 2.3s;
}

.b-hero__inner>* {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

.b-hero__inner:hover .b-hero__btn {
    text-shadow: 1px 0 0 currentColor;
}

.b-hero__inner:hover .b-hero__btn .icon-svg {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5)
}

.b-hero__inner:after {
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("http://ifit-transitions.org/video-bg.jpg") no-repeat top center;
    background-size: cover;
    transition: opacity 2.3s
}

.b-hero__inner--no-bg {
    opacity: 0;
    visibility: hidden;
}

.b-hero__heading {
    margin-bottom: 35px;
    font-size: 20px;
    line-height: 1.222222222222222
}

.b-hero__btn {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.857142857142857;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: visibility .3s, opacity .3s, text-shadow .3s;
    cursor: pointer;
}

.b-hero__btn .icon-svg {
    margin-right: 13px;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s
}

@media (max-width: 479px) {
    .b-hero {
        margin-left: -20px;
        margin-right: -20px
    }
    .b-hero__inner {
        padding: 0 20px
    }
    .b-hero__heading {
        margin-bottom: 5px;
        font-size: 16px
    }
    .b-hero__btn {
        font-size: 12px;
        margin-bottom: 5px;
    }
    .b-hero__btn .icon-svg {
        width: 20px
    }
}

@media (min-width: 768px) {
    .b-hero {
        margin-bottom: 54px
    }
    .b-hero__heading {
        margin-bottom: 70px;
        font-size: 36px
    }
    .b-hero__inner {
        padding: 0 14%
    }
}

@media (min-width: 1200px) {
    .b-hero__inner {
        padding: 0 17.27%
    }
}


.icon-svg {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.icon-svg__svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  fill: currentColor;
  pointer-events: none;
  -webkit-transform: translateZ(0);
  transform: translateZ(0)
}

.icon-svg:before {
  content: '';
  display: block
}

.icon-svg--play {
  width: 32px;
}

.icon-svg--play:before {
  padding-top: 100%
}


/* @end */
